<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Search</title>
</head>
  {%include "menu2.html"%}
<body>
	<center>{{msg}}</center>
<center>
	<form name="frmsearch" method="post">
	     <table align="center">
	        <tr>
	          <td>
	     <select class="form-select" name="searchby" required>
	     	<option value="">search By</option>
	     	<option value="1">Name</option>
	     	<option value="2">Email Id </option>
	     	<option value="3">Mobile Number</option>
	     	<option value="4">Pincode</option>
	     	<option value="5">city</option>
	     </select>
	 </td>
	 <td>
	 	<input type="text" name="value" required class="form-control">
	 </td>
	 <td>
	 <input type="submit" name="btnsubmit" value="Search" class="btn btn-primary">
	 </td>
	</tr>
</table>
{% csrf_token %}
</form>
</center>
<br/> 
{% if data %}
<table class="table table-bordered" border="1" align="center">
	<tr>
		<th>Id</th>
		<th>Name</th>
		<th>Email ID</th>
		<th>Mobile Number</th>
		<th>Pincode</th>
		<th>City</th>
		<th>Delete</th>
	</tr>
	{% for d in data %}
	<tr>
		<td>{{d.id}}</td>
		<td>{{d.name}}</td>
		<td>{{d.emailid}}</td>
		<td>{{d.mobilenumber}}</td>
		<td>{{d.pincode}}</td>
		<td>{{d.city}}</td>
	<td>
	<form name="frmdelete" method="POST">
		<input type="hidden" name="sid" value="{{d.id}}">
		<input type="submit" name="btnsubmit" value="x" class="btn btn-danger">
		{% csrf_token %}
	</form>
</td>
</tr>
{% endfor %}
</table>

{% endif %}
</body>
</html>